<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>THANK YOU</title>
        <!-- <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
        <style>
            body {
                font-family: "Roboto", sans-serif;
                /* font-family: 'Nunito', sans-serif; */
            }
        </style> -->
    </head>     
    <body class="" style="background-color: rgb(243,244,246); font-family: 'Roboto', sans-serif;">
        <div class="" style="margin-left: auto; margin-right: auto; margin-top: 2.5rem; max-width: 42rem; overflow: hidden; border-radius: 0.5rem; box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0,0,0,0.1), 0 2px 4px -2px rgb(0,0,0,0.1); background-color: #C4CFDE;">
            <!-- <div class="" style="background-color: #212428; display: flex; align-items: center; justify-content: space-between; padding: 1rem;">
                <div class="" style="display: flex; align-items: center;">
                    <img alt="logo" class="" height="40" width="40" style="height: 2.5rem; width: 2.5rem;" src="https://portfolio-production-fe96.up.railway.app/static/images/software-logo.png"/>   
                    <span class="" style="color: #C4CFDE; margin-left: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 400;">
                        Michael Oluwole
                    </span>
                </div>
                <div class="" style="display: flex; align-items: center;">
                    <img alt="Michael-Oluwole" class="" height="40" width="40" style="width: 60px; height: 60px;" src="https://portfolio-production-fe96.up.railway.app/static/images/oluwole-michael.png"/>    
                </div>
            </div> -->


            <table style="width: 100% !important; background-color: #212428;">
                <thead>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>

                <tbody>
                    <tr style="width: 100% !important">
                        <td>
                            <div class="" style="display: flex; align-items: center;">
                                <img alt="logo" class="" height="40" width="40" style="height: 2.5rem; width: 2.5rem;" src="https://portfolio-production-fe96.up.railway.app/static/images/software-logo.png"/>   
                                <span class="" style="color: #C4CFDE; margin-left: 0.5rem; font-size: 1.25rem; line-height: 2.5rem; font-weight: 400;">
                                    Michael Oluwole
                                </span>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                        <td style="text-align: right;">
                            <div>
                                <img alt="Michael-Oluwole" class="" height="40" width="40" style="width: 60px; height: 60px;" src="https://portfolio-production-fe96.up.railway.app/static/images/oluwole-michael.png"/>    
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>



            <div class="" style="padding: 1.5rem; text-align: center;">            
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tr style="text-align: center;">
                        <td></td>
                        <td>
                            <img alt="michael-oluwole"  height="210" width="210" style="border-radius: 50%;" src="https://portfolio-production-fe96.up.railway.app/static/images/oluwole-michael.png"/>
                        </td>
                        <td></td>
                    </tr>
                </table>
                


                <h1 class="" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.5rem; line-height: 2rem; font-weight: 700;">              
                    Thank you!
                    <br />
                </h1>
                <p class="" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                    <!-- Hello, Merilyn Parks -->
                    Hello {{my_variable.name}},
                </p>
                <p class="" style="color: #212428; opacity: 0.6; margin-bottom: 2rem;">
                    I appreciate your interest in reaching out to me regarding your need of my service. I am committed to giving the best of my expertise to your satisfaction.
                    I want to assure you that you will always be glad that you award me your project.
                </p>

                
                <div class="" style="display: grid; grid-template-columns: repeat(1, minmax(0, 1fr));">                              
                    <div class="" style="border-radius: 0.5rem; background-color: rgb(219,234,254); padding: 1rem;">                    
                        <div class="" style="color: #FF014F; margin-bottom: 0.5rem; font-size: 2.25rem; line-height: 2.5rem;">
                            <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-software-development.png" alt="software development" loading="lazy" width="45" height="45"></i>
                        </div>
                        <h2 class="" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                            Software Development
                        </h2>
                        <p class="" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                            I build reliable, user-friendly software solutions from concept to deployment, tailored to meet your business goals.
                        </p>
                        <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="" 
                            style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding: 0.5rem 1rem;">
                            Contact Me
                        </a>
                    </div>
                    <br>

                    <div class="" style="border-radius: 0.5rem; background-color: rgb(219,234,254); padding: 1rem;" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
                        <!-- hover:bg-blue-600 active:bg-blue-700 -->
                        
                        <div class="" style="color: #FF014F; margin-bottom: 0.5rem; font-size: 2.25rem; line-height: 2.5rem;">
                            <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-digital-marketing.png" alt="digital marketing" loading="lazy" width="45" height="45"></i>
                        </div>
                        <h2 class="" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                            Digital Marketing
                        </h2>
                        <p class="" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                            I boost online presence with strategic campaigns, social media management, content creation, and data-driven advertising solutions.
                        </p>
                        <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="" 
                            style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding: 0.5rem 1rem;">
                            Contact Me
                        </a>
                    </div>
                </div>
                <br>

                <div class="" style="display: grid; grid-template-columns: repeat(1, minmax(0, 1fr)); ">
                    <div class="" style="border-radius: 0.5rem; background-color: rgb(219,234,254); padding: 1.5rem; text-align: center;"> 
                        <div class="" style="color: #FF014F; margin-bottom: 0.5rem; font-size: 2.25rem; line-height: 2.5rem;">
                            <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-uiux-design.png" alt="uiux design" loading="lazy" width="45" height="45"></i>
                        </div>
                        <h2 class="" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                            UI/UX Design
                        </h2>
                        <p class="" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                            I create intuitive, visually appealing designs that enhance user experience and align with your business objectives.
                        </p>
                        <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="" 
                            style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding: 0.5rem 1rem;">
                            Contact Me
                        </a>
                    </div>
                    <br>

                    <div class="" style="border-radius: 0.5rem; background-color: rgb(219,234,254); padding: 1.5rem; text-align: center;">
                        <div class="" style="color: #FF014F; margin-bottom: 0.5rem; font-size: 2.25rem; line-height: 2.5rem;">
                            <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-seo.png" alt="seo" loading="lazy" width="45" height="45"></i>
                        </div>
                        <h2 class="" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                            SEO
                        </h2>
                        <p class="" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                            I improve search rankings through targeted strategies, driving organic traffic, and ensuring sustained online visibility.
                        </p>
                        <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="" 
                            style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding: 0.5rem 1rem;">
                            Contact Me
                        </a>
                    </div>
                </div>
                <br>

                <div class="" style="margin-top: 2.5rem; text-align: center;">
                    <h2 class="" style="color: #212428; margin-bottom: 1rem; font-size: 1.5rem; line-height: 2rem; font-weight: 700;">
                        Need Assistance?
                    </h2>
                    <p class="" style="color: #212428; opacity: 0.8; margin-bottom: 1.5rem;">
                        Our support team is here to help you through every step of the setup process. Should you have any questions or need assistance, feel free to contact us.
                    </p>
                    <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="" 
                        style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding-left: 1rem; padding-right: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;">
                        Contact Me
                    </a>
                </div>
                <br><br><br>  
            </div>

            <footer class="" style="background-color: #212428; padding-top: 2.5rem; padding-bottom: 2.5rem; color: rgb(255,255,255);">
                <!-- <div class="" style="margin-left: auto; margin-right: auto; max-width: 42rem; text-align: center;">
                    <div class="" style="margin-bottom: 1rem; display: flex; align-items: center; justify-content: center;">
                        <img alt="developer logo" class="" style="margin-right: 0.5rem;" height="40" width="40" src="https://portfolio-production-fe96.up.railway.app/static/images/software-logo.png"/>
                        <span class="" style="color: #C4CFDE; font-size: 1.5rem; line-height: 2rem; font-weight: 700;">
                            Michael Oluwole
                        </span>
                    </div>
                    <div class="" style="margin-bottom: 1rem; display: flex; justify-content: center; margin-right: calc(1rem * 0); margin-left: calc(1rem * calc(1 - 0));">
                        <a class="text-white" target="_blank" href="https://github.com/Michael-Obj" rel="nofollow noopener noreferrer" style="color: #C4CFDE; padding-right: 7px;">
                             <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-github.png" alt="seo" loading="lazy" width="16" height="16"></i>
                        </a>
                        <a class="text-white" target="_blank" href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" style="color: #C4CFDE; padding-left: 7px;" >
                            <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-linkedin.png" alt="seo" loading="lazy" width="20" height="20"></i>
                        </a>
                    </div>
                </div> -->



                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>

                    <!-- <tbody>
                        <tr style="text-align: center;">
                            <td></td>
                            <td valign="middle" style="text-align: right;" >
                                <img alt="developer logo" class="" style="margin-right: 0.5rem; display: inline-block; vertical-align: middle;" height="40" width="40" src="https://portfolio-production-fe96.up.railway.app/static/images/software-logo.png"/>
                            </td>
                            <td valign="middle" >
                                <span class="" style="color: #C4CFDE; font-size: 1.5rem; line-height: 1rem; font-weight: 700; display: inline-block; vertical-align: middle">
                                    Michael Oluwole
                                </span>
                            </td>
                            <td></td>
                        </tr>

                        <tr style="text-align: center">
                            <td></td>
                            <td valign="middle" style="text-align: right !important;">
                                    <a class="text-white" target="_blank" href="https://github.com/Michael-Obj" rel="nofollow noopener noreferrer" style="color: #C4CFDE; padding-right: 7px; margin-bottom: 10px; display: inline-block; vertical-align: middle">
                                         <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-github.png" alt="seo" loading="lazy" width="16" height="16"></i>
                                    </a>
                            </td>
                            <td valign="middle" style="text-align: left;">
                                <a class="text-white" target="_blank" href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" style="color: #C4CFDE; padding-left: 7px; display: inline-block; vertical-align: middle" >
                                    <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-linkedin.png" alt="seo" loading="lazy" width="20" height="20"></i>
                                </a>
                            </td>
                            <td></td>
                        </tr>
                    </tbody> -->

                
                    <tbody>
                        <tr style="text-align: center;">
                            <td style="width: 25%"></td>
                            <td valign="middle" style="text-align: right; width: 25%">
                                <img alt="developer logo" class="" style="margin-right: 0.3rem; display: inline-block; vertical-align: middle;" height="40" width="40" src="https://portfolio-production-fe96.up.railway.app/static/images/software-logo.png"/>
                            </td>
                            <td valign="middle" style="text-align: left; width: 25%">
                                <span class="" style="color: #C4CFDE; font-size: 0.8rem; line-height: 1rem; font-weight: 700; display: inline-block; vertical-align: middle">
                                    Michael <br style="color: #C4CFDE;"> Oluwole
                                </span>
                            </td>
                            <td style="width: 25%"></td>
                        </tr>

                        <tr style="text-align: center">
                            <td style="width: 25%"></td>
                            <td valign="middle" style="text-align: right; width: 25%">
                                    <a class="text-white" target="_blank" href="https://github.com/Michael-Obj" rel="nofollow noopener noreferrer" style="color: #C4CFDE; padding-right: 7px; margin-bottom: 2px; display: inline-block; vertical-align: middle">
                                        <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-github.png" alt="seo" loading="lazy" width="16" height="16" ></i>
                                    </a>
                            </td>
                            <td valign="middle" style="text-align: left; width: 25%;">
                                <a class="text-white" target="_blank" href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" style="color: #C4CFDE; padding-left: 0px; display: inline-block; vertical-align: middle" >
                                    <i><img src="https://portfolio-production-fe96.up.railway.app/static/images/svg-linkedin.png" alt="seo" loading="lazy" width="20" height="20"></i>
                                </a>
                            </td>
                            <td style="width: 25%"></td>
                        </tr>
                    </tbody>
                    
                </table>
            </footer>
        </div>
        <br><br>
    </body>
</html>