{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>THANK YOU</title>
        <!-- <script src="https://cdn.tailwindcss.com"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet" />
        <style>
            body {
                font-family: "Roboto", sans-serif;
                /* font-family: 'Nunito', sans-serif; */
            }
        </style> -->
    </head>
    <body class="bg-gray-100" style="background-color: rgb(243,244,246); font-family: 'Roboto', sans-serif;">
        <div class="max-w-2xl mx-auto bg-white shadow-md rounded-lg overflow-hidden mt-10" style="margin-left: auto; margin-right: auto; margin-top: 2.5rem; max-width: 42rem; overflow: hidden; border-radius: 0.5rem; box-shadow: 0 0 #0000, 0 0 #0000, 0 4px 6px -1px rgb(0,0,0,0.1), 0 2px 4px -2px rgb(0,0,0,0.1); background-color: #C4CFDE;">
            <div class="bg-blue-100 p-4 flex justify-between items-center" style="background-color: #212428; display: flex; align-items: center; justify-content: space-between; padding: 1rem;">
                <div class="flex items-center" style="display: flex; align-items: center;">
                    <img alt="logo" class="w-10 h-10" height="40" width="40" style="height: 2.5rem; width: 2.5rem;" src="https://web-production-689f.up.railway.app/static/images/software-logo.png"/>   <!----->
                    <span class="ml-2 text-xl font-bold text-blue-900" style="color: #C4CFDE; margin-left: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 400;">
                        Michael Oluwole
                    </span>
                </div>
                <div class="flex items-center" style="display: flex; align-items: center;">
                    <img alt="Michael-Oluwole" class="w-10 h-10" height="40" width="40" style="width: 60px; height: 60px;" src="https://web-production-689f.up.railway.app/static/images/oluwole-michael.png"/>    <!----->
                </div>
                <!-- <button class="bg-blue-500 text-white px-4 py-2 rounded">
                    Log in
                </button> -->
            </div>
            <div class="p-6 text-center" style="padding: 1.5rem; text-align: center;">            
                <div style="display: flex; align-items: center; justify-content: center; padding: 0px 10px;">
                    <!-- <i class="fas fa-user-circle"> </i> -->
                    <img alt="michael-oluwole"  height="210" width="210" src="https://web-production-689f.up.railway.app/static/images/oluwole-michael.png"/>
                </div>
                <h1 class="text-2xl font-bold text-blue-900 mb-2" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.5rem; line-height: 2rem; font-weight: 700;">              
                    Thank you!
                    <br />
                    <!-- Complete Your Account Setup -->
                </h1>
                <p class="text-gray-700 mb-4" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                    <!-- Hello, Merilyn Parks -->
                    Hello {{my_variable.name}},
                </p>
                <p class="text-gray-600 mb-8" style="color: #212428; opacity: 0.6; margin-bottom: 2rem;">
                    I appreciate your interest in reaching out to me regarding your need of my service. I am committed to giving the best of my expertise to your satisfaction.
                    I want to assure you that you will always be glad that you award me your project.
                </p>

                
                <div class="grid grid-cols-1 gap-6 md:grid-cols-2" style="display: grid; grid-template-columns: repeat(1, minmax(0, 1fr)); ">                              
                    <div class="bg-blue-100 p-4 rounded-lg" style="border-radius: 0.5rem; background-color: rgb(219,234,254); padding: 1rem;">                    
                        <div class="text-blue-500 text-4xl mb-2" style="color: #FF014F; margin-bottom: 0.5rem; font-size: 2.25rem; line-height: 2.5rem;">
                            <!-- <i class="fas fa-envelope"> </i> -->
                            <!-- <i>
                                <svg fill="#FF014F" viewBox="0 0 32 32" id="icon" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <defs>
                                            <style>
                                                .cls-1 {
                                                    fill: none;
                                                }
                                            </style>
                                        </defs>
                                        <title>application</title>
                                        <path d="M16,18H6a2,2,0,0,1-2-2V6A2,2,0,0,1,6,4H16a2,2,0,0,1,2,2V16A2,2,0,0,1,16,18ZM6,6V16H16V6Z" transform="translate(0 0)"></path>
                                        <path d="M26,12v4H22V12h4m0-2H22a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2h4a2,2,0,0,0,2-2V12a2,2,0,0,0-2-2Z" transform="translate(0 0)"></path>
                                        <path d="M26,22v4H22V22h4m0-2H22a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2h4a2,2,0,0,0,2-2V22a2,2,0,0,0-2-2Z" transform="translate(0 0)"></path>
                                        <path d="M16,22v4H12V22h4m0-2H12a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2h4a2,2,0,0,0,2-2V22a2,2,0,0,0-2-2Z" transform="translate(0 0)"></path>
                                    </g>
                                </svg>
                            </i> -->
                            <i><img src="https://web-production-689f.up.railway.app/static/images/svg-software-development.png" alt="software development" loading="lazy" width="50" height="50"></i>
                        </div>
                        <h2 class="text-xl font-bold text-blue-900 mb-2" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                            Software Development
                        </h2>
                        <p class="text-gray-600 mb-4" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                            I build reliable, user-friendly software solutions from concept to deployment, tailored to meet your business goals.
                        </p>
                        <!-- <button class="bg-blue-500 text-white px-4 py-2 rounded" style="background-color: #212428; color: #C4CFDE;">
                            Contact Me
                        </button> -->
                        <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" 
                            style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding: 0.5rem 1rem;">
                            Contact Me
                        </a>
                    </div>
                    <br>

                    <div class="bg-blue-100 p-4 rounded-lg" style="border-radius: 0.5rem; background-color: rgb(219,234,254); padding: 1rem;" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100" data-aos-once="true">
                        <!-- hover:bg-blue-600 active:bg-blue-700 -->
                        
                        <div class="text-blue-500 text-4xl mb-2" style="color: #FF014F; margin-bottom: 0.5rem; font-size: 2.25rem; line-height: 2.5rem;">
                            <!-- <i class="fas fa-shield-alt"> </i> -->
                            <!-- <i>
                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#FF014F" transform="rotate(-45)">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M17.1 14.95c.412.16.9-.08.9-.45v-13c0-.37-.488-.61-.9-.45-.683.41-1.311.83-1.919 1.237-2.14 1.43-4.019 2.687-7.084 2.713H4C2.34 5 1 6.34 1 8s1.34 3 3 3h4c3.123 0 5.02 1.268 7.182 2.714.607.406 1.236.826 1.918 1.236zM9 18h-.79c-.43 0-.81-.27-.94-.67L5.07 13H9a1 1 0 011 1v3c0 .55-.45 1-1 1z"
                                            fill="#FF014F"
                                        ></path>
                                    </g>
                                </svg>
                            </i> -->
                            <i><img src="https://web-production-689f.up.railway.app/static/images/svg-digital-marketing.png" alt="digital marketing" loading="lazy" width="50" height="50"></i>
                        </div>
                        <h2 class="text-xl font-bold text-blue-900 mb-2" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                            Digital Marketing
                        </h2>
                        <p class="text-gray-600 mb-4" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                            I boost online presence with strategic campaigns, social media management, content creation, and data-driven advertising solutions.
                        </p>
                        <!-- <button class="bg-blue-500 text-white px-4 py-2 rounded" style="background-color: #212428; color: #C4CFDE;">
                            Contact Me
                        </button> -->

                        <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" 
                            style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding: 0.5rem 1rem;">
                            Contact Me
                        </a>
                    </div>
                </div>
                <br>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-6" style="display: grid; grid-template-columns: repeat(1, minmax(0, 1fr)); ">
                    <div class="bg-blue-100 p-6 rounded-lg text-center" style="border-radius: 0.5rem; background-color: rgb(219,234,254); padding: 1.5rem; text-align: center;"> 
                        <div class="text-blue-500 text-4xl mb-2" style="color: #FF014F; margin-bottom: 0.5rem; font-size: 2.25rem; line-height: 2.5rem;">
                            <!-- <i class="fas fa-shield-alt"> </i> -->
                            <!-- <i>
                                <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path d="M12 12C12 11.4477 12.4477 11 13 11H19C19.5523 11 20 11.4477 20 12V19C20 19.5523 19.5523 20 19 20H13C12.4477 20 12 19.5523 12 19V12Z" stroke="#FF014F" stroke-width="1.5" stroke-linecap="round"></path>
                                        <path d="M4 5C4 4.44772 4.44772 4 5 4H8C8.55228 4 9 4.44772 9 5V19C9 19.5523 8.55228 20 8 20H5C4.44772 20 4 19.5523 4 19V5Z" stroke="#FF014F" stroke-width="1.5" stroke-linecap="round"></path>
                                        <path d="M12 5C12 4.44772 12.4477 4 13 4H19C19.5523 4 20 4.44772 20 5V7C20 7.55228 19.5523 8 19 8H13C12.4477 8 12 7.55228 12 7V5Z" stroke="#FF014F" stroke-width="1.5" stroke-linecap="round"></path>
                                    </g>
                                </svg>
                            </i> -->
                            <i><img src="https://web-production-689f.up.railway.app/static/images/svg-uiux-design.png" alt="uiux design" loading="lazy" width="50" height="50"></i>
                        </div>
                        <h2 class="text-xl font-bold text-blue-900 mb-2" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                            UI/UX Design
                        </h2>
                        <p class="text-gray-600 mb-4" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                            I create intuitive, visually appealing designs that enhance user experience and align with your business objectives.
                        </p>
                        <!-- <button class="bg-blue-500 text-white py-2 px-4 rounded" style="background-color: #212428; color: #C4CFDE;">
                            Contact Me
                        </button> -->
                        <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" 
                            style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding: 0.5rem 1rem;">
                            Contact Me
                        </a>
                    </div>
                    <br>

                    <div class="bg-blue-100 p-6 rounded-lg text-center" style="border-radius: 0.5rem; background-color: rgb(219,234,254); padding: 1.5rem; text-align: center;">
                        <div class="text-blue-500 text-4xl mb-2" style="color: #FF014F; margin-bottom: 0.5rem; font-size: 2.25rem; line-height: 2.5rem;">
                            <!-- <i class="fas fa-shield-alt"> </i> -->
                            <!-- <i>
                                <svg viewBox="-0.5 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                        <path
                                            d="M22 11.8201C22 9.84228 21.4135 7.90885 20.3147 6.26436C19.2159 4.61987 17.6542 3.33813 15.8269 2.58126C13.9996 1.82438 11.9889 1.62637 10.0491 2.01223C8.10927 2.39808 6.32748 3.35052 4.92896 4.74904C3.53043 6.14757 2.578 7.92935 2.19214 9.86916C1.80629 11.809 2.00436 13.8197 2.76123 15.6469C3.51811 17.4742 4.79985 19.036 6.44434 20.1348C8.08883 21.2336 10.0222 21.8201 12 21.8201"
                                            stroke="#FF014F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path d="M2 11.8201H22" stroke="#FF014F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path d="M12 21.8201C10.07 21.8201 8.5 17.3401 8.5 11.8201C8.5 6.30007 10.07 1.82007 12 1.82007C13.93 1.82007 15.5 6.30007 15.5 11.8201" stroke="#FF014F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        <path
                                            d="M18.3691 21.6901C20.3021 21.6901 21.8691 20.1231 21.8691 18.1901C21.8691 16.2571 20.3021 14.6901 18.3691 14.6901C16.4361 14.6901 14.8691 16.2571 14.8691 18.1901C14.8691 20.1231 16.4361 21.6901 18.3691 21.6901Z"
                                            stroke="#FF014F"
                                            stroke-width="1.5"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        ></path>
                                        <path d="M22.9998 22.8202L20.8398 20.6702" stroke="#FF014F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </g>
                                </svg>
                            </i> -->
                            <i><img src="https://web-production-689f.up.railway.app/static/images/svg-seo.png" alt="seo" loading="lazy" width="50" height="50"></i>
                        </div>
                        <h2 class="text-xl font-bold text-blue-900 mb-2" style="color: #212428; margin-bottom: 0.5rem; font-size: 1.25rem; line-height: 1.75rem; font-weight: 700;">
                            SEO
                        </h2>
                        <p class="text-gray-600 mb-4" style="color: #212428; opacity: 0.8; margin-bottom: 1rem;">
                            I improve search rankings through targeted strategies, driving organic traffic, and ensuring sustained online visibility.
                        </p>
                        <!-- <button class="bg-blue-500 text-white py-2 px-4 rounded" style="background-color: #212428; color: #C4CFDE;">
                            Contact Me
                        </button> -->
                        <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" 
                            style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding: 0.5rem 1rem;">
                            Contact Me
                        </a>
                    </div>
                </div>
                <br>

                <div class="text-center mt-10" style="margin-top: 2.5rem; text-align: center;">
                    <h2 class="text-2xl font-bold mb-4" style="color: #212428; margin-bottom: 1rem; font-size: 1.5rem; line-height: 2rem; font-weight: 700;">
                        Need Assistance?
                    </h2>
                    <p class="text-gray-700 mb-6" style="color: #212428; opacity: 0.8; margin-bottom: 1.5rem;">
                        Our support team is here to help you through every step of the setup process. Should you have any questions or need assistance, feel free to contact us.
                    </p>
                    <!-- <button class="bg-blue-500 text-white py-2 px-4 rounded" style="background-color: #212428; color: #C4CFDE;">
                        Contact us
                    </button> -->
                    <a href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" target="_blank" class="inline-block px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600" 
                        style="background-color: #212428; color: #C4CFDE; text-decoration: none; display: inline-block; border-radius: 0.25rem; padding-left: 1rem; padding-right: 1rem; padding-top: 0.5rem; padding-bottom: 0.5rem;">
                        Contact Me
                    </a>
                </div>
                <br><br><br>  
            </div>

            <footer class="bg-blue-900 text-white py-10" style="background-color: #212428; padding-top: 2.5rem; padding-bottom: 2.5rem; color: rgb(255,255,255);">
                <div class="max-w-2xl mx-auto text-center" style="margin-left: auto; margin-right: auto; max-width: 42rem; text-align: center;">
                    <div class="flex justify-center items-center mb-4" style="margin-bottom: 1rem; display: flex; align-items: center; justify-content: center;">
                        <img alt="developer logo" class="mr-2" style="margin-right: 0.5rem;" height="40" width="40" src="#"/>
                        <span class="text-2xl font-bold" style="color: #C4CFDE; font-size: 1.5rem; line-height: 2rem; font-weight: 700;">
                            Michael Oluwole
                        </span>
                    </div>
                    <div class="flex justify-center space-x-4 mb-4" style="margin-bottom: 1rem; display: flex; justify-content: center; margin-right: calc(1rem * 0); margin-left: calc(1rem * calc(1 - 0));">
                        <a class="text-white" target="_blank" href="https://github.com/Michael-Obj" rel="nofollow noopener noreferrer" style="color: #C4CFDE;">
                            <!-- <i class="fab fa-github"> </i> -->
                             <i><img src="https://web-production-689f.up.railway.app/static/images/svg-github.png" alt="seo" loading="lazy" width="50" height="50"></i>
                        </a>
                        <a class="text-white" target="_blank" href="https://www.linkedin.com/in/michael-oluwole/" rel="nofollow noopener noreferrer" style="color: #C4CFDE;" >
                            <!-- <i class="fab fa-linkedin"> </i> -->
                            <i><img src="https://web-production-689f.up.railway.app/static/images/svg-linkedin.png" alt="seo" loading="lazy" width="50" height="50"></i>
                        </a>
                    </div>
                    <!-- <div class="text-sm">
                        <a class="text-white mx-2" href="#">
                            Privacy Policy
                        </a>
                        <span class="text-white">
                            •
                        </span>
                        <a class="text-white mx-2" href="#">
                            Contact Us
                        </a>
                        <span class="text-white">
                            •
                        </span>
                        <a class="text-white mx-2" href="#">
                            Unsubscribe
                        </a>
                    </div> -->
                </div>
            </footer>              
        </div>
        <br><br>
    </body>
</html>
